.scoreBox{
    position: absolute; text-align: center; margin-left: 0px; left: 280px; top: 120px; z-index: 0; font-size: 18px; color: red; text-shadow: 0 0 5px #F08080, 0 0 10px #F08080, 0 0 20px #F08080, 0 0 30px #F08080, 0 0 40px #F08080; 
}
.morningBG {
    background: -webkit-linear-gradient(top, yellow 0%, white 100%);
    background: -linear-gradient(top, yellow 0%, white 100%);
    border: 0;
    position: absolute;
    border-radius: 20px;
    left: 0;
    top: 23px;
    z-index: -2;
}
.noonBG {
    background: -webkit-linear-gradient(top, skyblue 0%, #fff 100%);
    background: -linear-gradient(top, skyblue 0%, white 100%);
    border: 0;
    position: absolute;
    border-radius: 20px;
    left: 0;
    top: 23px;
    z-index: -2;
}
.eveningBG {
    background: -webkit-linear-gradient(top, red 0%, #fff 100%);
    background: -linear-gradient(top, red 0%, white 100%);
    border: 0;
    position: absolute;
    border-radius: 20px;
    left: 0;
    top: 23px;
    z-index: -2;
}
.nightBG {
    background: -webkit-linear-gradient(top, black 0%, #fff 100%);
    background: -linear-gradient(top, black 0%, white 100%);
    border: 0;
    position: absolute;
    border-radius: 20px;
    left: 0;
    top: 23px;
    z-index: -2;
}